markdown
html5lib
python-openid
South
python-memcached
django==4.2.27
django-debug-toolbar
django-endless-pagination
pytz

sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
