markdown
html5lib
python-openid
South
python-memcached
django==1.6.0
django-debug-toolbar
django-endless-pagination
pytz

setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.4.2 # not directly required, pinned by Snyk to avoid a vulnerability
